@model IEnumerable<Coffee.Models.Product>
@{
    ViewData["Title"] = "Đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="home-slider owl-carousel">

    <div class="slider-item" style="background-image: url(images/bg_3.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">

                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Đặt hàng online</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a asp-action="Index" asp-controller="Home">Trang chủ</a></span> <span>Đặt hàng online</span></p>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="ftco-menu mb-5 pb-5">
    <div class="container">
        <div class="row d-md-flex">
            <div class="col-lg-12 ftco-animate p-md-5">
                <div class="row">
                    <div class="col-md-12 nav-link-wrap mb-5">
                        <div class="nav ftco-animate nav-pills justify-content-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" id="v-pills-0-tab" data-toggle="pill" href="#v-pills-0" role="tab" aria-controls="v-pills-0" aria-selected="true">Cà phê</a>

                            <a class="nav-link" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="false">Trà sữa</a>

                            <a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Sinh tố</a>

                            <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Soda</a>
                        </div>
                    </div>
                    <div class="col-md-12 d-flex align-items-center">

                        <div class="tab-content ftco-animate" id="v-pills-tabContent">

                            <div class="tab-pane fade show active" id="v-pills-0" role="tabpanel" aria-labelledby="v-pills-0-tab">
                                <div class="row">
                                    @{
                                        foreach (var item in Model)
                                        {
                                            if (item.Genre == "Coffee")
                                            {
                                                <div class="col-md-3">
                                                    <div class="menu-entry">
                                                        <a href="#" class="img" style="background-image: url(images/@item.Image);"></a>
                                                        <div class="text text-center pt-4">
                                                            <h3 style="height:30px"><a>@item.Name</a></h3>
                                                            <p style="height:125px">@item.Note</p>
                                                            <p class="price"><span>@item.Price K</span></p>
                                                            <p><a id="@item.Id" name="@item.Name" onclick="AddItem(id, name)" class="btn btn-primary btn-outline-primary">Thêm vào giỏ hàng</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                    
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
                                <div class="row">
                                    @{
                                        foreach (var item in Model)
                                        {
                                            if (item.Genre == "MilkTea")
                                            {
                                                <div class="col-md-3">
                                                    <div class="menu-entry">
                                                        <a href="#" class="img" style="background-image: url(images/@item.Image);"></a>
                                                        <div class="text text-center pt-4">
                                                            <h3 style="height:40px"><a>@item.Name</a></h3>
                                                            <p style="height:100px">@item.Note</p>
                                                            <p class="price"><span>@item.Price K</span></p>
                                                            <p><a id="@item.Id" name="@item.Name" onclick="AddItem(id, name)" class="btn btn-primary btn-outline-primary">Thêm vào giỏ hàng</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-2-tab">
                                <div class="row">
                                    @{
                                        foreach (var item in Model)
                                        {
                                            if (item.Genre == "SinhTo")
                                            {
                                                <div class="col-md-3">
                                                    <div class="menu-entry">
                                                        <a href="#" class="img" style="background-image: url(images/@item.Image);"></a>
                                                        <div class="text text-center pt-4">
                                                            <h3 style="height:40px"><a>@item.Name</a></h3>
                                                            <p style="height:100px">@item.Note</p>
                                                            <p class="price"><span>@item.Price K</span></p>
                                                            <p><a id="@item.Id" name="@item.Name" onclick="AddItem(id, name)" class="btn btn-primary btn-outline-primary">Thêm vào giỏ hàng</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>

                            <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-3-tab">
                                <div class="row">
                                    @{
                                        foreach (var item in Model)
                                        {
                                            if (item.Genre == "Soda")
                                            {
                                                <div class="col-md-3">
                                                    <div class="menu-entry">
                                                        <a href="#" class="img" style="background-image: url(images/@item.Image);"></a>
                                                        <div class="text text-center pt-4">
                                                            <h3 style="height:40px"><a>@item.Name</a></h3>
                                                            <p style="height:100px">@item.Note</p>
                                                            <p class="price"><span>@item.Price K</span></p>
                                                            <p><a id="@item.Id" name="@item.Name" onclick="AddItem(id, name)" class="btn btn-primary btn-outline-primary">Thêm vào giỏ hàng</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
