@model Coffee.Models.BookATable
@{
    ViewData["Title"] = "DeleteATable";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2">
            Tên:
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName @Model.LastName
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
    </dl>

    <form asp-action="DeleteBookATable">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Product" class="btn btn-success">Trờ về</a>
    </form>
</div>

